.container-fluid {
    background-color: black;
    font-size: x-large;
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

header {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f;
}

.card {
    background-color: rgb(0, 0, 0);
    margin: 35px;
    box-shadow: 0 0 10px rgb(0, 119, 255), 0 0 20px rgb(0, 119, 255), 0 0 30px rgb(0, 119, 255), 0 0 40px rgb(0, 119, 255), 0 0 50px rgb(0, 119, 255)
}

body {
  background-image: url(/assets/img/background2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f;
  background-blend-mode:overlay;
}
  .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px ;
    font-size: 0.9em;
    margin-top: 20px;
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
  }

  .footer a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 10px;
  }

  .headerlogo {
    text-align: center;
 }

 h3 {
  font-weight: 300;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f;
 }

 p {
  font-weight: 200;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(218, 218, 218);
 }

form {
 margin: 20px;;
}

